.elevated_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: white;
    margin-top: 20px;
    color: black;
    border-radius: 5px;
    overflow-x: auto;
  }
  
  .outlined_card {
    text-align: left;
    font-family: arial;
    border-radius: 5px;
    border: 1px solid #e0e0e0;

    overflow-x: auto;
    padding: 5%;
    margin: 5%;
  }