/* Create two equal columns that floats next to each other */
.column_left {
    float: left;
    width: 75%;
    padding: 10px;
  }

  .column_right {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }