input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  input[type=submit], [type=button],[type=radio] {
    color: var( --on_surface);
    border: 1px solid #e0e0e0;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;  
    background-color: Transparent;
  }
  
    input[type=submit]:hover {
    background-color: #f9a825;
    color: white;
  }