.message{
    padding: 10px;
}

.room{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    margin: 5px ;
}


.room_current{
    padding: 10px;
    border-radius: 5px;
    border: 5px solid #f9a825;
    margin: 5px ;
}



.room:hover{
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    background-color: #f9a825;
    color: white;
}