<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/script/adminScript.js"></script>

    <link rel="stylesheet" href="/style/style.css">
</head>

<body>

    <div class="row">

        <div class="side">

        </div>

        <div class="main">

        </div>
    </div>
</body>