<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/script/userScript.js"></script>

    <link rel="stylesheet" href="/style/style.css">
</head>

<body>

    <div class="row">


        <div class="side">
            <a href="/admin"></a>

            {{> room_private_create}}

            {{> room_create}}

            {{> room_list}}
        </div>

        <div class="main">

            <div class="elevated_card">
                <div id="parent">
                    <h3>Сейчас вы находитесь в: Lobby</h3>
                </div>
            </div>

            {{> message_send}}

            {{> conversation}}

        </div>
    </div>
</body>