<div class="elevated_card">
    <h3>Список всех сообщений</h3>
    {{!-- //TODO Сделать пролистываемым и фиксированным --}}
    {{!-- //TODO Сделать сохранение имен пользователей сообщений --}}

    <div id="conversation"></div>
</div>