<div class="elevated_card">
    <h3>Отправить сообщение</h3>
    <input type="text" id="data" placeholder="Введите текст сообщения" />
    <input type="submit" id="datasend" value="Отправить" />
</div>