<div class="elevated_card">
    <h3>Создать комнату</h3>
    <div id="room creation"></div>
    <div class="row">
        <div class="col-25">
            <label for="country">Имя</label>
        </div>
        <div class="col-75">
            <input type="text" id="roomname" placeholder="Введите название комнаты" />
        </div>
        <div class="col-25">
            <label for="country">Тип</label>
        </div>
        <div class="col-75">
            <input type="radio" id="private_room" name="type_room" value="private">
            <label for="private_room">Private</label>
            <br>
            <input type="radio" id="free_room" name="type_room" value="free" checked="checked">
            <label for="free_room">Free</label>
        </div>
        <div class="col-25">
            <input type="submit" id="roombutton" value="Создать комнату" />
        </div>
        <div class="col-75">

        </div>
    </div>










</div>