<div class="elevated_card">
    <h3>Приватная комната</h3>
    <div class="row">
        <div class="col-25">
            <label for="country">Имя</label>
        </div>
        <div class="col-75">
            <input type="text" id="privateroomname" placeholder="Введите название комнаты" />
        </div>
        <div class="col-25">
            <input type="submit" id="switchPrivateRoom" value="Подключится" />
        </div>
        <div class="col-75">
        </div>
    </div>
</div>