<div class="elevated_card">
    <h3>Список комнат</h3>
    <div id="rooms"></div>
</div>

<div class="elevated_card">
    <h3>Список приватных комнат комнат</h3>
    <div id="private_rooms"></div>
</div>